<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home" class="home-link">Home</span>
    <span class="example-spacer"></span>
    <div class="container">
      <a routerLink="/users"><span>Users</span></a>
      <a routerLink="/admin"><span>Admin</span></a>
      <mat-form-field style="margin-left: 20px; margin-top: 20px" name="loginRegisterDropdown">
        <mat-label>SignIn/SignUp</mat-label>
        <mat-select [(ngModel)]="selectedOption" (selectionChange)="onSelect()" name="entry">
          <div style="background-color: transparent">
            <mat-option *ngFor="let entry of entries" [value]="entry.link">{{entry.name}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>



  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
