.mat-toolbar-row {
  justify-content: space-between;
}

.container {
display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

a {
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

mat-form-field {
    background-color: transparent;
}

.home-link:hover {
  cursor: pointer;
}
